<a href="https://colab.research.google.com/github/Daine06/Elective-Lab-1-2/blob/main/Operations_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [5]:
print(9>10)
print(9==9)
print(10>9)

False
True
True

Bool Function

In [6]:
print(bool("Andrew"))
print(bool(1))
print(bool())
print(bool(0))
print(bool(False))
print(bool(None))
print(bool([]))

True
True

Functions

In [12]:
def trueFunction():
  return "Stacy"

print(trueFunction())

Stacy

In [ ]:
def trueFunction();
  return "Stacy"

  if myFunction():
    print("Sam")
    else:
      print("Xavier")

Python Operator

In [ ]:
print(8+11)
print(11-2)
print(5*7)
print(15/3)
print(10**5)

Python Bitwise Operators

In [15]:
print(50 & 10)
print(50 | 10)
print(50 ^ 10)

50 >> 5

2
58
56

1

Python Assignment Operators

In [16]:
x = 30

x//=6
print(x)

5

Logical Operators

In [ ]:
q = "Xavier"
z = "Sam"

print (q and z)
print (q or z)

Identity Operators

In [24]:
q = "Stacy"
z = "Xavier"

q is z

False